.sidebar {
  /* width: 340px;
	display: flex;
	flex-direction: column;
	flex-shrink: 0; */
	/* width: 0;
	transition: 2s all; */
	/* transition: 2s all; */
	max-height: calc(100vh - 100px); 
	overflow: scroll;
	/* overflow: hidden;
	background: red; */
}

.criteria-label {
	font-size: .8rem;
}

/* .actions-bar {} */

.price-sort {
	font-size: .8rem;
	cursor: pointer;
}

.ais-SortBy-select:focus, select:focus {
	outline: none;
}

.ais-RefinementList-item .ais-RefinementList-label {
	white-space: nowrap;
}

@media only screen and (max-width: 991px) {
	.sidebar-wrapper {
		padding-top: 1rem;
	}
	/* .sidebar {
		width: calc(100% - 30px); 
		min-height: calc(100vh - 56px); 
		background-color: #000000e6;
		position: absolute;
		margin: auto;
		z-index: 2;
		left: 0;
		right: 0;
	} */
}

/* @media only screen and (min-width: 768px) and (max-width: 1199px) {
	width: 270px;
} */