@media(min-width: 768px) {
  #cart {
    width: 80%;
    margin: 20px auto;
  }
}

#cart .thumbnail { 
  width: 110px;
  height: 110px;
  background-size: cover;
}

.cart-item-detail li {
  position: relative;
  padding: 20px 16px 34px 140px;
  min-height: 86px;
  border-bottom: 1px solid #F5F5F5;
  list-style: none;
}

.cart-item-detail .item {
  display: block;
  color: #383d48;
}

.cart-item-detail a {
  color: #4978B3;
}

.cart-item-detail .item img {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 110px;
  height: 110px;
  background: no-repeat 50% 50%;
  background-size: cover;
}

.cart-item-detail .title {
  display: inline-block;
  max-width: 400px;
  color: #373d48;
}

.cart-item-detail .info {
  font-size: 12px;
  color: #545965;
  padding-top: 4px;
  width: 310px;
  display: block;
}

.cart-item-detail .left_stock {
  font-size: 12px;
  color: #b7313e;
  padding-top: 5px;
  display: none;
}

.cart-item-detail .price {
  position: absolute;
  right: 15px;
  top: 21px;
  font-weight: bold;
}

.cart-item-detail .qty {
  position: absolute;
  right: 15px;
  top: 43px;
}

.cart-item-detail .qty .select-boxes2 {
  width: 50px;
  display: inline-block;
  /* padding-right: 11px; */
  border: 1px solid #DDDEE0;
  /* background: #F8F8F8; */
  border-radius: 3px;
  /* padding: 5px 15px 5px 8px; */
  line-height: 16px;
  height: auto;
  font-size: 12px;
  cursor: pointer;
  color: #373D48;
}

.checkout-review .cart-item-detail .error, .cart-item-detail .unavailable, .cart-item-detail .notification-cart {
  font-size: 12px;
  line-height: 18px;
  display: block;
  position: relative;
  box-shadow: inset 0 0 0 1px rgba(217,52,52,0.3);
  margin: 12px 75px 10px 0;
  padding: 14px 13px 13px 50px;
  background: #fff;
  border-radius: 3px;
}

.cart-item-detail .action {
  position: absolute;
  bottom: 15px;
  /* left: 140px; */
  right: 0;
  font-size: 12px;
}

.cart-item-detail .action .action-item {
  margin-right: 11px;
}

@media(max-width: 768px) {
  .cart-item-detail li {
    padding: 15px 15px 15px 130px;
    line-height: 16px;
  }

  .cart-item-detail li .item {
    padding: 0 60px 5px 0;
  }
}