.container{max-width:1170px; margin:auto;}
img{ max-width:100%;}
.inbox_people {
  /* background: #f8f8f8 none repeat scroll 0 0; */
  float: left;
  overflow: hidden;
  /* width: 40%;  */
  height: 400px;
  /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) */
  /* border-right:1px solid #c4c4c4; */
}

@media(max-width: 768px) {
  .inbox_people{
    width: 90%;
    margin: auto;
  }
}



.inbox_msg {
  clear: both;
  overflow: hidden;
}
.top_spac{ margin: 20px 0 0;}


.recent_heading {float: left; width:40%;}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 80%; 
  /* padding: */
}
.headind_srch{ padding:10px 29px 10px 20px; overflow:hidden; border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ border:1px solid #cdcdcd; border-width:0 0 1px 0; width:80%; padding:2px 0 4px 6px; background:none;}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { margin: 0 0 0 -2.2rem;}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib .chat_date{ font-size:.6rem; position: absolute; right: 10px; bottom: 5px}
.chat_img {
  float: left;
  width: 45px;
  height: 45px;
}

.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  max-width: 90%;
}
.chat_txt, .chat_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.chat_txt {
  width: 90%;
  margin:auto;
  margin-left: 0;
  font-size:14px; color:#989898;
}

.chat_people{ overflow:hidden; clear:both;display: flex;}
.chat_list {
  border-bottom: 1px solid #e9e9e9;
  margin: 0;
  padding: 10px 16px 5px;
  position: relative;
}
.chat_list:hover {
  background-color: #efefef;
}
.inbox_chat { height: 100%; overflow-y: scroll; border: 1px solid #e9e9e9}

.active_chat{ background:#f7f7f7;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
  white-space: pre-line;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
  /* display: none; */
}
.received_withd_msg { max-width: 80%;}
.mesgs {
  float: left;
  /* padding: 30px 15px 0 25px; */
  height: 400px;
  /* overflow-y: auto; */
  border: 1px solid #e9e9e9;
  border-left-width: 1px;
  /* width: 60%; */
  position: relative;
}

@media(min-width: 768px) {
  .mesgs{ border-left-width: 0; }
}


 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; }
.sent_msg {
  float: right;
  max-width: 80%;
  white-space: pre-line;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}

.type_msg {border-top: 1px solid #c4c4c4;
  position: relative;min-height: 20%;
  overflow-x: auto;
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  max-height: 70%;
}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  min-height: 100px;
  height: 80%;
  max-height: 400px;
  padding: 10px;
  overflow-y: auto;
}
.input_msg_write, .write_msg {
  min-height: 78px; border: none !important;
}
.write_msg {
  padding: 20px;
}