#HEADER_1 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 198px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  text-size-adjust: 100%;
  top: 0px;
  width: 935px;
  align-items: stretch;
  perspective-origin: 467.5px 99px;
  transform-origin: 467.5px 99px;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px 0px 44px;
}/*#HEADER_1*/

#DIV_2 {
  bottom: 0px;
  box-sizing: border-box;
  display: flex;
  height: 198px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  text-size-adjust: 100%;
  top: 0px;
  width: 291.672px;
  align-items: stretch;
  perspective-origin: 145.828px 99px;
  transform-origin: 145.828px 99px;
  border: 0px solid rgb(0, 0, 0);
  flex: 1 0 0px;
  flex-flow: column nowrap;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px 30px 0px 0px;
}/*#DIV_2*/

#DIV_3 {
  bottom: 0px;
  box-sizing: border-box;
  height: 152px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  text-size-adjust: 100%;
  top: 0px;
  width: 152px;
  align-items: stretch;
  align-self: center;
  perspective-origin: 76px 76px;
  transform-origin: 76px 76px;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}/*#DIV_3*/

#CANVAS_4 {
  bottom: -17px;
  display: block;
  height: 169px;
  left: 0px;
  position: absolute;
  right: -17px;
  text-size-adjust: 100%;
  top: 0px;
  width: 169px;
  perspective-origin: 84.5px 84.5px;
  transform: matrix(1, 0, 0, 1, -8.5, -8.5);
  transform-origin: 84.5px 84.5px;
  user-select: none;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}/*#CANVAS_4*/

#SPAN_5 {
  bottom: 0px;
  box-sizing: border-box;
  display: block;
  height: 152px;
  left: 0px;
  position: relative;
  right: 0px;
  text-size-adjust: 100%;
  top: 0px;
  width: 152px;
  perspective-origin: 76px 76px;
  transform-origin: 76px 76px;
  background: rgb(250, 250, 250) none repeat scroll 0% 0% / auto padding-box border-box;
  border-radius: 50% 50% 50% 50%;
  flex: 0 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  overflow: hidden;
}/*#SPAN_5*/

#SPAN_5:after {
  bottom: 0px;
  content: '""';
  display: block;
  height: 150px;
  left: 0px;
  pointer-events: none;
  position: absolute;
  right: 0px;
  text-size-adjust: 100%;
  top: 0px;
  width: 150px;
  perspective-origin: 76px 76px;
  transform-origin: 76px 76px;
  border: 1px solid rgba(0, 0, 0, 0.098);
  border-radius: 50% 50% 50% 50%;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}/*#SPAN_5:after*/

#IMG_6 {
  height: 152px;
  text-size-adjust: 100%;
  width: 152px;
  perspective-origin: 76px 76px;
  transform-origin: 76px 76px;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}/*#IMG_6*/

#SECTION_7 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  display: flex;
  height: 198px;
  left: 0px;
  min-height: auto;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  width: 613.328px;
  column-rule-color: rgb(38, 38, 38);
  align-items: stretch;
  perspective-origin: 306.656px 99px;
  transform-origin: 306.656px 99px;
  caret-color: rgb(38, 38, 38);
  border: 0px solid rgb(0, 0, 0);
  flex: 2 1 30px;
  flex-flow: column nowrap;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#SECTION_7*/

#DIV_8 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  display: flex;
  height: 40px;
  left: 0px;
  min-height: auto;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  width: 613.328px;
  column-rule-color: rgb(38, 38, 38);
  align-items: center;
  perspective-origin: 306.656px 20px;
  transform-origin: 306.656px 20px;
  caret-color: rgb(38, 38, 38);
  border: 0px solid rgb(0, 0, 0);
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px 0px 20px;
  outline: rgb(38, 38, 38) none 0px;
}/*#DIV_8*/

#H1_9 {
  color: rgb(38, 38, 38);
  height: 40px;
  min-height: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 153.031px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 76.5156px 20px;
  transform-origin: 76.5156px 20px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 200 normal 32px / 40px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  outline: rgb(38, 38, 38) none 0px;
  overflow: hidden;
}/*#H1_9*/

#SPAN_10 {
  background-position: -438px -217px;
  color: rgb(38, 38, 38);
  display: block;
  height: 18px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-indent: 110%;
  text-size-adjust: 100%;
  white-space: nowrap;
  width: 18px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 9px 9px;
  transform-origin: 9px 9px;
  caret-color: rgb(38, 38, 38);
  background: rgba(0, 0, 0, 0) url("https://www.instagram.com/static/bundles/base/sprite_core_2x.png/15c993afd4e6.png") no-repeat scroll -438px -217px / 460px 421px padding-box border-box;
  border: 0px none rgb(38, 38, 38);
  flex: 0 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px 7px;
  outline: rgb(38, 38, 38) none 0px;
  overflow: hidden;
}/*#SPAN_10*/

#SPAN_11 {
  color: rgb(38, 38, 38);
  display: flex;
  height: 28px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  width: 157.531px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 78.7656px 14px;
  transform-origin: 78.7656px 14px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  flex: 0 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px 0px 0px 20px;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_11*/

#SPAN_12 {
  bottom: 0px;
  color: rgb(38, 38, 38);
  display: block;
  height: 28px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  width: 115.531px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 57.7656px 14px;
  transform-origin: 57.7656px 14px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  flex: 1 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px 8px 0px 0px;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_12*/

#BUTTON_13 {
  background-position: 0px 0px;
  color: rgb(38, 38, 38);
  cursor: pointer;
  height: 28px;
  min-height: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 115.531px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 57.7656px 14px;
  transform-origin: 57.7656px 14px;
  caret-color: rgb(38, 38, 38);
  border-radius: 3px 3px 3px 3px;
  font: normal normal 600 normal 14px / 26px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
  overflow: hidden;
  padding: 0px 24px;
}/*#BUTTON_13*/

#BUTTON_13.btn-default {
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
  border: 1px solid rgb(219, 219, 219);
}

#BUTTON_13.btn-primary {
  color: white;
}

#SPAN_14 {
  bottom: 0px;
  color: rgb(38, 38, 38);
  display: block;
  height: 28px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  width: 34px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 17px 14px;
  transform-origin: 17px 14px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  flex: 0 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_14*/

#BUTTON_15 {
  background-position: 0px 0px;
  color: rgb(38, 38, 38);
  cursor: pointer;
  height: 28px;
  min-height: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 34px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 17px 14px;
  transform-origin: 17px 14px;
  caret-color: rgb(38, 38, 38);
  background: rgba(0, 0, 0, 0) none repeat scroll 0px 0px / auto padding-box border-box;
  border: 1px solid rgb(219, 219, 219);
  border-radius: 3px 3px 3px 3px;
  font: normal normal 600 normal 14px / 26px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
  overflow: hidden;
  padding: 0px 12px;
}/*#BUTTON_15*/

#DIV_16 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  cursor: pointer;
  display: flex;
  height: 26px;
  left: 0px;
  position: relative;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  white-space: nowrap;
  width: 8px;
  column-rule-color: rgb(38, 38, 38);
  align-items: stretch;
  perspective-origin: 4px 13px;
  transform-origin: 4px 13px;
  caret-color: rgb(38, 38, 38);
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal 600 normal 14px / 26px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#DIV_16*/

#DIV_16:after {
  color: rgb(38, 38, 38);
  content: '"."';
  cursor: pointer;
  display: block;
  height: 26px;
  min-height: auto;
  min-width: auto;
  text-align: center;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  visibility: hidden;
  white-space: nowrap;
  width: 0px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 13px;
  transform-origin: 0px 13px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 600 normal 14px / 26px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#DIV_16:after*/

#DIV_17 {
  background-position: -262px -164px;
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  cursor: pointer;
  display: flex;
  height: 6px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: absolute;
  right: 0px;
  text-align: center;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  white-space: nowrap;
  width: 8px;
  column-rule-color: rgb(38, 38, 38);
  align-items: stretch;
  perspective-origin: 4px 3px;
  transform-origin: 4px 3px;
  caret-color: rgb(38, 38, 38);
  background: rgba(0, 0, 0, 0) url("https://www.instagram.com/static/bundles/base/sprite_core_2x.png/15c993afd4e6.png") no-repeat scroll -262px -164px / 460px 421px padding-box border-box;
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal 600 normal 14px / 26px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 10px 0px;
  outline: rgb(38, 38, 38) none 0px;
}/*#DIV_17*/

#DIV_18 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  display: flex;
  height: 0px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  width: 22px;
  column-rule-color: rgb(38, 38, 38);
  align-items: stretch;
  perspective-origin: 11px 0px;
  transform-origin: 11px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px -10px 0px 5px;
  outline: rgb(38, 38, 38) none 0px;
}/*#DIV_18*/

#BUTTON_19 {
  background-position: -438px -383px;
  cursor: pointer;
  display: block;
  height: 16px;
  min-height: auto;
  min-width: auto;
  text-indent: 110%;
  text-size-adjust: 100%;
  white-space: nowrap;
  width: 16px;
  perspective-origin: 8px 8px;
  transform-origin: 8px 8px;
  background: rgba(0, 0, 0, 0) url("https://www.instagram.com/static/bundles/base/sprite_core_2x.png/15c993afd4e6.png") no-repeat scroll -438px -383px / 460px 421px padding-box border-box;
  border: 0px none rgb(0, 0, 0);
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: -8px 0px 0px 6px;
  overflow: hidden;
  padding: 0px;
}/*#BUTTON_19*/

#UL_20 {
  color: rgb(38, 38, 38);
  display: flex;
  height: 18px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  width: 613.328px;
  width: auto;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 306.656px 9px;
  transform-origin: 306.656px 9px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 400 normal 14px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  margin: 0px 0px 20px;
  outline: rgb(38, 38, 38) none 0px;
  padding: 0px;
}/*#UL_20*/

#LI_21 {
  color: rgb(38, 38, 38);
  height: 18px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  width: 101.156px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 50.5781px 9px;
  transform-origin: 50.5781px 9px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 400 normal 16px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  margin: 0px 40px 0px 0px;
  outline: rgb(38, 38, 38) none 0px;
  margin: 5px;
}/*#LI_21*/

#SPAN_22, #A_25, #A_28 {
  color: rgb(38, 38, 38);
  text-align: left;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 400 normal 16px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_22, #A_25, #A_28*/

#SPAN_23 {
  color: rgb(38, 38, 38);
  text-align: left;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 600 normal 16px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_23*/

#LI_24 {
  color: rgb(38, 38, 38);
  height: 18px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  width: 111.328px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 55.6562px 9px;
  transform-origin: 55.6562px 9px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 400 normal 16px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  margin: 0px 40px 0px 0px;
  outline: rgb(38, 38, 38) none 0px;
  margin: 5px;
}/*#LI_24*/

#SPAN_26, #SPAN_29 {
  color: rgb(38, 38, 38);
  cursor: pointer;
  text-align: left;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 600 normal 16px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_26, #SPAN_29*/

#LI_27 {
  color: rgb(38, 38, 38);
  height: 18px;
  min-height: auto;
  min-width: auto;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  width: 117.734px;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 58.8594px 9px;
  transform-origin: 58.8594px 9px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 400 normal 16px / 18px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  list-style: none outside none;
  outline: rgb(38, 38, 38) none 0px;
  margin: 5px;
}/*#LI_27*/

#DIV_30 {
  bottom: 0px;
  box-sizing: border-box;
  color: rgb(38, 38, 38);
  height: 100px;
  left: 0px;
  min-height: auto;
  min-width: auto;
  overflow-wrap: break-word;
  position: relative;
  right: 0px;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  top: 0px;
  width: 613.328px;
  word-wrap: break-word;
  column-rule-color: rgb(38, 38, 38);
  align-items: stretch;
  perspective-origin: 306.656px 50px;
  transform-origin: 306.656px 50px;
  caret-color: rgb(38, 38, 38);
  border: 0px solid rgb(0, 0, 0);
  flex: 0 0 auto;
  flex-flow: column nowrap;
  font: normal normal 400 normal 16px / 24px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#DIV_30*/

#H1_31 {
  color: rgb(38, 38, 38);
  display: inline;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  word-wrap: break-word;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 600 normal 16px / 24px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0px;
  outline: rgb(38, 38, 38) none 0px;
}/*#H1_31*/

#SPAN_32 {
  color: rgb(38, 38, 38);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  word-wrap: break-word;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 400 normal 16px / 24px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#SPAN_32*/

#A_33 {
  color: rgb(0, 53, 105);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(0, 53, 105);
  text-size-adjust: 100%;
  word-wrap: break-word;
  column-rule-color: rgb(0, 53, 105);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(0, 53, 105);
  border: 0px none rgb(0, 53, 105);
  font: normal normal 400 normal 16px / 24px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(0, 53, 105) none 0px;
}/*#A_33*/

#A_34 {
  color: rgb(0, 53, 105);
  display: block;
  height: 24px;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(0, 53, 105);
  text-size-adjust: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 613.328px;
  word-wrap: break-word;
  column-rule-color: rgb(0, 53, 105);
  perspective-origin: 306.656px 12px;
  transform-origin: 306.656px 12px;
  caret-color: rgb(0, 53, 105);
  border: 0px none rgb(0, 53, 105);
  font: normal normal 600 normal 16px / 24px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(0, 53, 105) none 0px;
  overflow: hidden;
}/*#A_34*/

#SPAN_35 {
  color: rgb(153, 153, 153);
  display: block;
  height: 14px;
  overflow-wrap: break-word;
  text-decoration: none solid rgb(153, 153, 153);
  text-size-adjust: 100%;
  width: 613.328px;
  word-wrap: break-word;
  column-rule-color: rgb(153, 153, 153);
  perspective-origin: 306.656px 7px;
  transform-origin: 306.656px 7px;
  caret-color: rgb(153, 153, 153);
  border: 0px none rgb(153, 153, 153);
  font: normal normal 400 normal 12px / 14px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 14px 0px 0px;
  outline: rgb(153, 153, 153) none 0px;
}/*#SPAN_35*/

#A_36, #A_37 {
  color: rgb(38, 38, 38);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  word-wrap: break-word;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 500 normal 12px / 14px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#A_36, #A_37*/

#A_38 {
  color: rgb(38, 38, 38);
  overflow-wrap: break-word;
  text-decoration: none solid rgb(38, 38, 38);
  text-size-adjust: 100%;
  word-wrap: break-word;
  column-rule-color: rgb(38, 38, 38);
  perspective-origin: 0px 0px;
  transform-origin: 0px 0px;
  caret-color: rgb(38, 38, 38);
  border: 0px none rgb(38, 38, 38);
  font: normal normal 500 normal 12px / 14px -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  outline: rgb(38, 38, 38) none 0px;
}/*#A_38*/

