.profile-preview .img-thumbnail {
	max-width: 60px;
	/* border-radius: 30px; */
	float: left;
}

.profile-preview .p-info {
	margin-bottom: initial;
}

.profile-preview button {
	padding: 0 30px;
	border-radius: 20px;
	cursor: pointer;
}

.p-chat {
	font-size: 1.2rem;
  position: relative;
	top: 3px;
	cursor: pointer;
}

.featured-seller {
	font-size: 2rem;
	color: #da8c26;
}

@media(min-width: 1100px) {
	.profile-preview .featured-seller {
		font-size: 2.5rem;
	}

}

.more-products {
	height: 80px;
}

.more-products a {
	height: 80px;
	display: flex;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.more-products img {
	height: 80px;
	visibility: hidden;
}


#profile-img {
	max-width: 100px;
  height: 100px;
  border-radius: 70px;

}


@media(min-width: 767px) {
	input.seller-query {
		width: 300px
	}
}