#sub-cats .list-group-item, #sub-sub-cats .list-group-item {
	border-left: none;
	border-right: none;
	padding-right: .25rem!important;
	padding-left: .25rem!important;
}

.list-group-item {
	cursor: pointer;
}

@media(min-width: 768px) {
	/* ul .collapse.show {
		outline: 1px solid #eee;
	} */
}

@media(max-width: 768px) {
	/* ul .collapse.show {
		outline: 1px solid #eee;
	} */
}