.product-form input[type="radio"]{
    border: 1;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.product-form input[type="checkbox"]{
    border: 1;
    font-family: inherit;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.snpcard {
    padding: 2rem!important;
    margin-top: 20px;
    border-radius: 16px;
    overflow:visible;
} 

.nrsonsv5 {
    overflow: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
    display: -webkit-box;
    display: flex;
    height: 130px;
}

.uxshx4 {
    padding-right: 2px;
    padding-left: 2px;
    margin-right: auto;
    margin-left: auto;
}

.organizerblock {
    margin: 10px;
}

.inputstyle{
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #2c2e460f;
    outline: none;
    resize: none;
    border: 0;
    font-size: 14px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    border-radius: 10px;
    border-bottom: 1px solid #3b599821;
}

.formbody{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f5f5f6;
}




.radio-default {
    position: relative;
    margin: -9px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #cdced2;
    border-radius: 50%;
    background: #fff;
    transition: all .3s ease-out;
    cursor: pointer;
    transform: translateY(-50%);
}

.radio-default:checked {
    border: 0;
    border: 7px solid #5463c1;
}



.slmthd1{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px!important;
    border-bottom-right-radius: 0px;
    border: 1px solid #e6e6e6;
    border-bottom: 0px;
}

.slmthd2{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin-top: 0px;
    border-top: 0px;
}




.labelstyle {
    margin: 10px;
    position: relative;
    width: 122px;
    height: 102px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    cursor: pointer;
    text-transform: none;}
.labelstyle:checked {
    background: #5e6df2;}

.radiostyle {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%!important;
    height: 100%!important; 
    border-radius: 10px;  
    text-transform: none;
    border: 1px solid #cdced2;
    margin: 0!important;}

.radiostyle:checked {
    border: 0;
    background: #5e6df2;}

.radiostyle:checked+.textstyle {
    color: #f7f7f7;
    font-weight: bold;}

.radiostyle:checked+.labelstyle {
    border: none;}

.textstyle {
    position: absolute;
    top: 0;
    left: 8px;
    bottom: 0;
    right: 8px;
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    font-size: 10px;
    line-height: 1.2;
    text-transform: none;}

.textcontent {
    font-size: 125%!important;
    padding: 0 0 6px;
    text-transform: none;
    text-align: center;
    font-size: 10px;
    line-height: 1.2;}

.labelstyle2 {
    position: relative;
    width: 50%;
    height: 50px;
    -ms-flex: 0 0 120px;
    flex: 0 0 120px;
    cursor: pointer;
    text-transform: none;
    margin: 0!important;
}

.labelstyle2:checked {
    background: #5e6df2;
    z-index: 1;
}
.radiostyle2:checked {
    border: 0;
    background: none;
    z-index: 1;
}

.radiostyle2 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%!important;
    height: 100%!important; 
    /* border-radius: 1px;   */
    text-transform: none;
    /* border: 1px solid #cdced2; */
    margin: 0!important;
    background: #21252926;
    cursor: pointer;
}

.radiostyle2:checked+.textstyle2 {
    color: #080808;
    font-weight: bold;
}

.textstyle2 {
    /* position: absolute; */
    z-index: 2;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    line-height: 1.2;
    text-transform: none;
    width: 100%;
    height: 100%;
    color:#757575
}



.textslmthd {
    font-size: 125%!important;
    -ms-flex-align: center;
    align-items: center;
    text-align: center!important;
    text-transform: none;
    display: -webkit-box;
    -webkit-box-align: center;
    display: block;
    z-index: 2;
    top: 20%;
    width: 100%;
    height: 100%;
}

.react-numeric-input{
    width:100%;
}

.react-numeric-input b {
    width:25%!important;
}

.numInputStyle {
    margin-bottom:0px!important;
}

.react-datepicker-wrapper {
    width: 100%
}

.react-datepicker__input-container {
    width: 100%
}