#backend #sidemenu {
  /* position: fixed;
  top: 0;
  bottom: 0;
  left: 0; */
  width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
  font-weight: 200;
  background-size: cover;
  background-position: 50%;
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/circles-dark.png);
}




#backend #sidemenu:before {
  opacity: .33;
  background: #000;
}
#backend #sidemenu:after, #backend #sidemenu:before{
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

#backend #sidemenu .sidemenu-wrapper {
  position: relative;
  height: calc(100vh - 75px);
  overflow: auto;
  width: 260px;
  z-index: 4;
  padding-bottom: 30px;
}


#backend #sidemenu .sidebar-background {
  background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/skyscraper.png);
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
  background-size: cover;
  background-position: 50% center;
  background: #6d6d6b;
}

#backend #sidemenu .list-group-item {
  color: #fff;
  margin: 15px auto;
  width: 90%;
  border-radius: 4px;
  font-weight: 600;
  border: none;
  text-transform: uppercase;
  z-index: 2;
}

#backend #sidemenu .list-group-item:hover {
  background-color: #808080;
}

#backend #sidemenu .list-group-item.active {
  background-color: #eee;
  color: #000; 
}

#backend #sidemenu .nav li.active>a {
  color: #fff;
  opacity: 1;
  background: hsla(0,0%,100%,.23);
}

#backend #sidemenu .nav>li>a {
  padding: 10px 15px;
}

#backend #wallet {
  /* font-size: 2rem; */
  font-weight: 600;
  border: 1px solid rgba(0,0,0,.125);
}


#backend .card label {
  font-size: 12px;
  margin-bottom: 5px;
  text-transform: uppercase;
}

#backend .control-label-bold {
  font-weight: 800;
  color: #444040;
}

#backend .form-group {
  margin-bottom: 15px;
}

#backend .form-control, output {
  display: block;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
}

#backend .card .category, .card label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
}

#backend .card label.font-weight-normal {
  font-size: .8rem;
}

#backend .rdw-image-modal {
  left: -120px;
}

.rdw-editor-wrapper {
  outline: 1px solid #ccc;
}

.rdw-editor-main {
  min-height: 100px;
}

#backend .datetime-picker{
  display: block;
  width: 100%;
  z-index: 4;
}

#backend form.was-validated input:invalid, #backend form.was-validated select:invalid {
  border-color: #dc3545;
}

.react-calendar__tile--active {
  background: #2f3133;
}