#sidemenu {
	height: calc(100vh - 56px);
	overflow: auto;
	padding: 0;
	z-index: 10;
}

#sidemenu .list-group-item {
	background-color: inherit; 
}

#sidemenu .list-group-item i {
	color: #0056b3;
	font-size: 1.2rem;
}

.n-timestamp {
	position: absolute;
	bottom: 2px;
	right: 5px;
	font-size: .6rem;
}

.welcome-btn {
	color: white;
	background: #3a44ab; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover, #3a44ab 13%, #007bff 59%, #7db9e8 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover, #454fbd  13%,#1b69bd 59%,#3a44ab 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at top, #454fbd 56%,#1b69bd  68%,#3a44ab  15%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454fbd', endColorstr='#3a44ab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.trending__prod {
	overflow: hidden;
  width: 160px;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}