body {
	font-size: 80%;
	font-size: .8rem;
	font-family: 'Roboto', sans-serif;
	color: #24292e;
	/* background-color: #f8f8f8;  */
	background-color: #fafafa;
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
}

.no-click {
	pointer-events: none !important;
}

.loading, .bg-disabled {
	pointer-events: none !important;
	opacity: .5;
}

.loading {
	background-image: url(spinner.svg);
  background-repeat: no-repeat;
  background-size: 40px;
	background-position: 97%;
	cursor: not-allowed;
}


.sky-blue {
	color: #1779ba
}

.btn-primary {
	background-color: #3a44ab;
}

.text-primary {
	color: #3a44ab;
}

.ellipsis-text {
	overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#main-content {
	transition: width .5s linear .5s;
}

.toaster.loader {
	position: fixed;
  top: 0;
  right: 0;
	left: 0;
	background-color: #efeeee87; 
  width: 100%;
  height: 100vh;
}

.toaster.loader .Toastify__toast {
	position: static;
	background-color: transparent;
}

.pointer {
	cursor: pointer;
}

.capitalize {
	text-transform: capitalize;
}

.underline {
	text-decoration: underline;
}

.btn-default {
	background-color: #fff;
	border: 1px solid #eee;
	color: #24292e;
	font-weight: 500; 
}

#spinner-holder {
	position: absolute;
	left: 0;
	right: 0;
	top: 13rem;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

#spinner {
	width: 100px;
}

.btn {
	/* border-radius: 0; */
}

.alert.alert-dismissible {
	z-index: 9999;
	position: fixed;
	top: 150px;
	top: 20vh;
	right: 40%;
	right: 40vw;
	width: 320px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.alert-error {
	color: #ffffff;
  background-color: #902f2f;
	border-color: #902f2f;
	/* text-transform: uppercase; */
}

.n-unread {
	background-color: #ddd;
}

.notification-item img {
	max-width: 40px;
	border-radius: 20px;
	float: left;
	margin-right: .5rem;
	margin-top: -10px;
}

.notification-item:hover {
	background-color: #fff;
}

.dropdown-item:hover {
	background-color: initial;
}

.product-group .add__cart__btn:hover {
	background: #3b5c6f !important;
}

.ais-InstantSearch {
	font-size: .8rem;
}

table tbody tr:nth-child(even) {
  border-bottom: 0;
  background: inherit;
}

.isoAlgoliaMainWrapper [class^=ais-] {
	font-size: .8rem;
}

.ais-Hits-list {
	width: 100%;
}

.f4hjk {
	padding:5%;
}