.product-item {
	font-size: .8rem;
	padding: 8px;
}

.product-item-wrapper {
	background-color: white;
	padding: 5px !important;
}

.product-item .product-seller {
	border-bottom: 1px solid #eee;
	border-bottom-style: inset;
}

.img-holder {
	height: 150px; /* image should be minimum 200px */
	height: 200px; /* image should be minimum 200px */
	overflow: hidden;
	text-align: center;
	background-position: 50% 50%;
	background-size: cover; 
}

.product-group .product-item:hover {
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.product-group .product-item .add__cart__btn {
	position: absolute;
	top: -5px;
	left: -10px;
}

.product-name {
	font-weight: 600;
	display: block;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	/* display: -webkit-box; */

}

.product-name-hover {
	display: none;
}

.product-item:hover .product-name {
	display: none !important;
}

.product-item:hover .product-name-hover {
	display: block !important;
}

.product-item:hover .product-caption {
	/* position: absolute; */
	z-index: 99999;
	pointer-events: none;
  bottom: 0;
	background: #00000045;
	color: white;
  right: 8px;
  left: 8px;
}

.product-item:hover .price__btn {
  border-color: white;
}

@media only screen and (max-width: 1060px) {
	.img-holder {
		height: 150px;
	}
}

@media only screen and (max-width: 767px) {
	.img-holder {
		height: 150px;
	}
	.product-name {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		display: block;
	}
}

.product-price {
	font-weight: 400;
	/* font-size: 1rem; */
	position: relative;
}

.price__btn {
	border: 1px solid #0000001a;
	padding: 2px 10px;
	border-radius: 3px;
}

.price__btn:not(.sky-blue) {
	color: #9d9d9d;
}

.seller-text, .oldprice {
	font-size: .7rem;
  color: #696363;
}

.product-item a:hover {
	text-decoration: none;
	color: inherit;
}

.oldprice {
	text-decoration: line-through;
	color: #983b3b;
}

.price__discount {
	border: 2px solid #5a5555;
	margin-top: -2px;
	position: absolute;
	right: 2px;
}