.group-header {
	margin-left: -20px;
	font-size: 1rem;
  font-weight: 600;
}

.banners .carousel-item {
	max-height: 350px;
	max-width: 100%;
	text-align: center;
}

.banners .carousel-item img { 
	width: 100%;
	max-height: 350px;
}