.admin-filter-dropdown .dropdown-item {
  font-size: .8rem;
  cursor: pointer;
}

.admin-filter-dropdown .dropdown-item:hover {
  background-color: #d4d4d4;
}

.admin-filter-dropdown .dropdown-item.active {
  font-weight: bold;
}