.navbar {
	background-color: #fff;
	box-shadow: inset 0 1px 0 #f5f5f5, 0 1px 0px rgba(0,0,0,0.08), 0 2px 2px rgba(0,0,0,0.05);
	z-index: 1050; /* higher than from sticky-top class */
	font-size: .8rem;
}

.navbar .main-search {
	background-color: #ebeced;
}

.navbar .search-select {
	min-width: 10%;
	max-width: 25%;
  border-top-left-radius: .25rem;
  border-bottom-left-radius: .25rem;
}

.navbar .search-btn {
	border-radius: 0;
	border-bottom-right-radius: .25rem;
  border-top-right-radius: .25rem;
  border-left-width: 0;
  border-top-left-radius: 0;
  padding-bottom: .45rem;
	width: 15%;
	color: white;
	background-color: #3a44ab;
}

.nav-links { 
	display: flex;
	justify-content: space-between; 
	font-size: .8rem;
}
@media(max-width: 991px) {
	.navbar .nav-links {
		margin-left: 1rem;
	}
	.nav-link-item {
		padding-left: 0.3rem;
		padding-right: 0.3rem;
	}
}

.nav-link-item {
	display: flex; 
	align-items: center;
	cursor: pointer;
	position: relative;
}

.hover-fill:hover {
	color: #0056b3 !important;
	text-decoration: underline !important;
}

.dropdown-menu {
	transition: all .37s cubic-bezier(.34,1.61,.7,1);
}

.dropdown-menu:before {
	border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
	left: 12px;
	border-bottom: 11px solid white;
	top: -11px;
}

.notification-badge {
  position: absolute;
  background-color: #dc3545;
  text-align: center;
  border-radius: 10px;
  min-width: 18px;
  padding: 0 5px;
  height: 18px;
  font-weight: 700;
  font-size: 12px;
  color: #fff;
  line-height: 18px;
  top: 1px;
  left: 14px;
}

.nav-link-item i:not(.notification-badge) {
	font-size: 1.5rem; 
	padding-right: 5px; 
	padding-left: 10px;
}

.auth__drop__down {
	min-width: initial !important;
	font-size: .8rem;
}

.auth__drop__down__item {
	padding: 0;
  padding-top: .4rem;
  padding-bottom: .4rem;
}

.auth__drop__down__item a {
	padding: .7rem 2rem;
}

.auth__drop__down__item a:hover {
	text-decoration: none;
}

.typeahead-dropdown {
	width: 100%;
}

@media(min-width: 768px) {
  .typeahead-dropdown {
		width: 70%;
		left: 15%;
	}
}

.typeahead-dropdown .nav-tabs .nav-item {
	width: 50%;
  float: left;
  padding: 10px;
	outline: 1px solid;
	text-align: center;
}

.typeahead-dropdown .nav-tabs .nav-item.active {
	background-color: #ccc;
}

.typeahead-dropdown .user-searches {
	
}

/************* OVERWRITE ALGOLIA  *******************/
.ais-SearchBox {
	float: left;
	min-width: 60%;
	max-width: 75%;
}

.ais-SearchBox-input {
	margin-bottom: 0;
	padding-left: 37px;
	background-color: #ebebec;
}
/* 
.ais-SearchBox-submit {
	left: initial;
	right: .5em;
} */

.search-hit.ais-Hits-item {
	width: 100%;
	margin-left: 0;
	float: left;
	font-size: .8rem;
}

.search-hit.ais-Hits-item a {
	text-decoration: none;
}

.search-hit.ais-Hits-item .ais-Snippet > *{
	font-size: .8rem;
}

.search-hit.ais-Hits-item img {
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 10px;
}

@media(min-width: 768px) {
  .search-hit.ais-Hits-item {
		width: 30%;
		margin-left: 1%;
	}

	.search-hit.ais-Hits-item img {
		width: 100px;
		height: 100px;
	}
}
