/* ==================================================

Tutorial Title:   Drop Down Menu with 3 Levels Deep
Tutorial Link:    http://html-tuts.com/?p=8136

=================================================== */

/* Pre-set CSS to simulate a live website */

/* body { margin: 0; padding: 0; font-family: Arial, sans-serif; font-size: 14px; line-height: 150%; background: #eee; } */
.headerContainerWrapper { background: #FFF; }
.menuBackground .center { max-width: 960px; margin: 0 auto; }
.headerContainer, .bodyContainer, .footerContainer { max-width: 960px; margin: 0 auto; background: #FFF; }
.padding {	padding: 20px; }
.bodyContainer { min-height: 500px; }




/* Menu General Styles */
.menuBackground {
  background: #ffffff;
  box-shadow: 1px 1px 1px #c3c2c2;
  font-size: .8rem;
	text-align: center; /* or change the value to left to align left*/
}
.dropDownMenu a {
	color: #000000;
}
.dropDownMenu,
.dropDownMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.dropDownMenu li {
	position: relative;
}
.dropDownMenu a {
	padding: 5px 20px;
	display: block;
	text-decoration: none;
}
.dropDownMenu a:hover {
	background: #00000080;

	color: #ffffff;
}


/* Level 1 Drop Down Menu */
.dropDownMenu > li {
	display: inline-block;
	vertical-align: top;
	margin-left: -4px; /* solve the 4 pixels spacing between list-items */
}


.dropDownMenu > li:first-child {
	margin-left: 0;
}
.dropDownMenu > li > a {}
.dropDownMenu > li > a:hover {}



/* Level 2 */
.dropDownMenu > li > div > div {
	text-align: right;
	
	display: none;
	background-color: white;
	position: absolute;
	top: 100%;
	left: 0;
  z-index: 9999999; 
  min-width: 100%;
/* if you have YouTube iframes, is good to have a bigger z-index so the video can appear above the video */
}

.dropDownMenu  li:hover > div > div {
	display: block;
}

#wrapper {
	display:none;
	text-align: left;
	width: 900px;
	background: #CCCCCC;
	height: 400px;
}



.dropDownMenu ul li a {}
.dropDownMenu ul li a:hover {}

#testwrap:hover + #wrapper {
	display: block;
}



.holder {
	width: 360px;
	margin: 0px auto;
	background:white;
	position:absolute;
  left:-75%;
  z-index: 99999;
}

.leftblock {
	float: left;
	width: 180px;
	height:160px;
	text-align:left!important;
  position:static!important;
  min-width: initial !important;
}

.rightblock {
	float: right;
	width: 180px;
	height:160px;
	text-align:right!important;
  position:static!important;
  min-width: initial !important;
}




/* Level 3 */
.dropDownMenu > li > div > div > ul > li > ul {
	text-align: left;
	display: none;
	width: 250px;
	background: white; 
	position: absolute;
	
	top: 0%;
	z-index: 9999999;
	padding-left: 20px;
  max-height:280px;
  border-left: 1px dotted grey;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

.dropDownMenu > li > div > div > ul > li:hover > ul {
	display: block;
	-webkit-animation: fadeIn 5s;
    animation: fadeIn 1s;
}


.leftblock ul > li:hover > ul {
	display:block;
	position:absolute;
	right:100%;
	top:0;
	width:200px;
	text-align:right;
	max-height:160px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
	background: white
}

.rightblock ul > li:hover > ul {
	display:block;
	position:absolute;
	left:100%;
	top:0;
	width:200px;
	text-align:left;
	max-height:160px;
	overflow:scroll;
	overflow-x:hidden;
	overflow-y:auto;
}

#secondlev2 {
	top: -100%;
}

#thirdlev2 {
	top: -200%;
}

#fourthlev2 {
	top: -300%;
}

#fifthlev2 {
	top: -400%;
}

#sixthlev2 {
	top: -500%;
}

#seventhlev2 {
	top: -600%;
}

#eightlev2 {
	top:-700%;
}



@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}  
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

::-webkit-scrollbar {
    width: 5px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #68c1fb; 

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

