.header-logo {
	max-width: 50%;
	max-height: 100px;
	overflow: hidden;
}

.auth-view .nav-item {
	width: 50%;
	cursor: pointer;
	font-weight: 800;
	font-size: 1.2rem;
	display: inline-block;
}

.auth-view .nav-item .nav-link {
	border-radius: 0;
}

.auth-view .nav-item .nav-link:hover {
	border: none;
}

.auth-view .nav-item .nav-link:not(.active):hover {
	border: 1px dotted;
}

.auth-view .nav-item .nav-link.active:hover {
	border: initial;
}

.auth-view .list-group-item {
	background-color: inherit;
}

.auth-view .nav-item .nav-link:not(.active) {
	background-color:#dcd8d8 !important;
	opacity: .7;
}

.auth-view .card {
	border-top: none;
}

#fb-auth {
	background-color: #3b5998;
	color: #fff; 
}

#fb-auth i {
	font-size: 1.2rem;
}

#or__divider {
  font-size: 1.5rem;
  background: #fff;
  width: 50px;
	color: #ccc;
	margin: -2rem auto 0;
}

.form-group {
	margin-bottom: .5rem;
}

.auth-view label {
	margin-bottom: 5px;
	font-weight: 600;
}

.link__display {
	color: #007bff;
	text-decoration: underline;
	cursor: pointer;
}

.invalid-feedback {
	font-size: .8rem;
}

.radio-default {
    position: relative;
    margin: -9px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #cdced2;
    border-radius: 50%;
    background: #fff;
    transition: all .3s ease-out;
    cursor: pointer;
    transform: translateY(-50%);
}

textarea:focus, input:focus{
	outline: 0;
	outline: none;
}